<nav class="navStyle">
  <a
    [routerLink]="['/customerManger']"
    routerLinkActive="router-link-active"
    (click)="displayCustomers()"
    >Customers</a
  >
  <a [routerLink]="['#']" routerLinkActive="router-link-active">Orders</a>
  <a [routerLink]="['#']" routerLinkActive="router-link-active">About</a>
  <a [routerLink]="['#']" routerLinkActive="router-link-active">Login</a>
</nav>
<fd-table>
  <fd-table-header>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Phone</th>
    <th>Address</th>
  </fd-table-header>
  <fd-table-body>
    <tr *ngFor="let customer of listCust">
      <td>{{ customer.firstname }}</td>
      <td>{{ customer.lastname }}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.address }}</td>
    </tr>
  </fd-table-body>
</fd-table>
